!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar
!/**/src/**/bin
!/**/src/**/build
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.apt_generated
.attach_pid*
.classpath
.DS_Store
.factorypath
.flattened-pom.xml
.gradle
.gradletasknamecache
.idea
.metadata
.project
.recommenders
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/code
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
_site/
activemq-data
bin
build.log
build/
dependency-reduced-pom.xml
dump.rdb
HELP.md
interpolated*.xml
MANIFEST.MF
manifest.yml
out
overridedb.*
secrets.yml
target/